customtkinter==5.2.2
CTkMenuBar==0.8
CTkToolTip==0.8
CTkMessagebox==2.5
darkdetect==0.8.0
keyboard==0.13.5
packaging==24.0
PyAutoGUI==0.9.54
pyperclip==1.8.2
PyWinCtl==0.3
Requests==2.32.2
typing_extensions==4.12.0